font-face {
  font-family: "MingLiU";
  src: url("/font/MingLiU.ttf");
}

font-face {
  font-family: "PMingLiU";
  src: url("/font/PMingLiU.ttf");
}

@fontname: "MingLiU",
"PMingLiU",
"Microsoft JhengHei",
"DengXian",
"等线",
"微软雅黑",
"YaHei",
"Microsoft YaHei";
.card {
  background: #fff;
  border-radius: 3px;
  .title {
    padding: 15px 30px;
    border-bottom: 1px solid #eee;
    font-size: 12pt;
    font-weight: bold;
  }
  .header {
    padding: 30px;
    .formItem {
      width: 100%;
      padding: 8px 0;
      .formLabel {
        padding-right: 10px;
        position: relative;
      }
      .required {
        &::before {
          content: "*";
          position: absolute;
          color: #e23;
          left: -10px;
          top: 0px;
          font-size: 12pt;
        }
      }
      .formContainer {
        width: 300px;
      }
    }
    .formAction {
      padding-top: 0;
    }
  }
}

.radioButton {
  :global(.ant-radio-button-wrapper-checked) {
    background: #1890ff;
    border-color: #1890ff;
    color: #fff;
  }
}

@table-border-color: #555;
.pdf-table {
  border-top: 2px solid @table-border-color;
  border-bottom: 2px solid @table-border-color;
  border-radius: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: @fontname;
  td,
  th {
    border: solid 1px @table-border-color !important;
    padding: 5px !important;
    letter-spacing: -0.05em;
    font-weight: 400;
  }
  th:last-child {
    border-top-right-radius: 0;
  }
  th:first-child {
    border-top-left-radius: 0;
  }
  tr:first-child {
    th {
      text-align: center;
    }
  }
  tr {
    td:first-child,
    th:first-child {
      border-left: none !important;
    }
    td:last-child,
    th:last-child {
      border-right: none !important;
    }
  }
  .countRow {
    border-top: solid 2px @table-border-color !important;
    td:first-child {
      letter-spacing: 1em;
    }
    td {
      text-align: right;
    }
  }
  thead {
    background: #eee;
    tr {
      th {
        font-weight: bolder;
      }
    }
  }
  tbody {
    tr:first-child {
      td {
        border-top: 2px solid @table-border-color !important;
      }
    }
  }
}

.pdfContainer {
  margin-top: 20px;
  font-size: 10.5pt;
  font-family: @fontname;
  background: #fff;
  border-radius: 3px;
  padding: 30px;
  .head {
    width: 100%;
    margin-bottom: 15px;
    h2 {
      text-align: center;
      font-size: 20pt;
    }
    ul {
      padding-left: 0;
      li {
        margin-bottom: 0em;
        display: flex;
        span {
          font-weight: bold;
        }
        div {
          width: 170px;
          padding-left: 10px;
          padding-right: 10px;
          border-bottom: 1px solid;
          text-align: center;
        }
      }
    }
  }
  .action {
    margin-top: 20px;
  }
  table {
    .pdf-table;
  }
}

@media print {
  .card {
    display: none;
  }
  .pdfContainer {
    margin-top: 0px;
    .head {
      p {
        margin-bottom: 5px;
      }
      margin-bottom: 20px;
    }
    .action {
      display: none;
      margin: 0;
      height: 0;
    }
  }
}