.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 50px; // margin-top: 64px;
    .breadCrumb {
      margin: 16px 0;
    }
    .content {
      // background: #fff;
      // padding: 24px;
      min-height: 780px;
      background: #f0f2f5;
      padding: 0;
    }
  }
  .footer {
    text-align: center;
  }
}

@media print {
  .main {
    background: #fff;
    .container {
      padding: 0;
      .breadCrumb {
        display: none;
      }
      .content {
        padding: 0;
        min-height: 180px;
      }
    }
    .footer {
      display: none;
      padding: 0;
      margin: 0;
    }
  }
}
